* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 100%;
	text-align: center;
	background: rgb(255, 249, 215);
}

.app {
	width: 100%;
	max-width: 500px;
	margin-bottom: 2rem;
}

.app-content {
	margin-top: 4rem;
}

a {
	text-decoration: none;
	color: inherit;
}
